<!DOCTOTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
	<title>Исследование процентного соотношения романских и германских языков, изучаемых в школе как иностранных</title>
</head>
<body>
	<fieldset>
        <legend><b>Согласие на обработку персональных данных</b></legend>
    <p>Из всех личных данных мы получим сведения только о Вашем поле, возрасте и регионе, которые будут учитываться только в статистике.</p>
    <p>Согласны ли Вы пройти опрос?</p><br>
    <input type="radio" name="ask" value="yes" checked>Да<br>
    <p><input type="submit" value="Отправить"></p>
    </fieldset>
	<p><a href='/questions'>Приступить</a></p>
</body>
</html>