{% extends 'base.html' %}

{% block title %} {{ person.name }}{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <td>Имя</td>
            <td>{{ person.name }}</td>
        </tr>
        <tr>
            <td>Возраст</td>
            <td>{{ person.age }}</td>
        </tr>
        <tr>
            <td>Пол</td>
            <td>{{ person.gender }}</td>
        </tr>
		<tr>
            <td>Город</td>
            <td>{{ person.city }}</td>
        </tr>
		<tr>
            <td>Язык</td>
            <td>{{ person.language }}</td>
        </tr>
	</table>
	<div>
		{% if person_prev %}
		<a href={{ person_prev }} button type="button" class="btn btn-primary">Предыдущий</a>
        {% endif %}
		{% if person_next %}
		<a href={{ person_next }} button type="button" class="btn btn-primary">Следующий</a>
        {% endif %}
		<!-- <a href={{ person_prev }} button type="button" class="btn btn-primary">Предыдущий</a> -->
		<!-- <a href={{ person_next }} button type="button" class="btn btn-primary">Следующий</a> -->
	</div>
{% endblock %}