{% extends 'base.html' %}
{% block title %} Исследование процентного соотношения изучения английского, немецкого, французского, испанского {% endblock %}
{% block content %}
	<form class="container" action="/process">
		<fieldset>
		<h4>Анкета информанта</h4>
		<div class="row">
			<div class="col-md-4">Имя</div>
			<div class="col-md-4"><input type="text" name="name"></div>
		</div>
		<div class="row">
			<div class="col-md-4">Возраст</div>
			<div class="col-md-4"><input type="number" name="age"></div>
		</div>
		<div class="row">
			<div class="col-md-4">Гендер</div>
			<select name="gender" class="col-md-4">
				<option value="male">м</option>
				<option value="female">ж</option>
				<option value="other">другой</option>
			</select>
		</div>
		<div class="row">
			<div class="col-md-4">Родной язык</div>
			<select name="flang" class="col-md-4">
				<option value="russian">русский</option>
				<option value="other">другой</option>
			</select>
		</div>
		<div class="row">
			<div class="col-md-4">Город</div>
				<div class="col-md-4"><input type="text" name="city"></div>
			</select>
		</div>
		<h4>Вопросы</h4>
		<b>Изучали ли Вы в школе английский язык?</b><br>
		<input type="radio" name="sceng" value="да" checked> Да<br>
		<input type="radio" name="sceng" value="нет"> Нет<br>
		<b>Изучали ли Вы в школе немецкий язык?</b><br>
		<input type="radio" name="scger" value="да" checked> Да<br>
		<input type="radio" name="scger" value="нет"> Нет<br>
		<b>Изучали ли Вы в школе французский язык?</b><br>
		<input type="radio" name="scfr" value="да" checked> Да<br>
		<input type="radio" name="scfr" value="нет"> Нет<br>
		<b>Изучали ли Вы в школе испанский язык?</b><br>
		<input type="radio" name="scesp" value="да" checked> Да<br>
		<input type="radio" name="scesp" value="нет"> Нет<br>
		<b>Изучали ли Вы в университете английский язык?</b><br>
		<input type="radio" name="uneng" value="да" checked> Да<br>
		<input type="radio" name="uneng" value="нет"> Нет<br>
		<b>Изучали ли Вы в университете немецкий язык?</b><br>
		<input type="radio" name="unger" value="да" checked> Да<br>
		<input type="radio" name="unger" value="нет"> Нет<br>
		<b>Изучали ли Вы в университете французский язык?</b><br>
		<input type="radio" name="unfr" value="да" checked> Да<br>
		<input type="radio" name="unfr" value="нет"> Нет<br>
		<b>Изучали ли Вы в университете испанский язык?</b><br>
		<input type="radio" name="unesp" value="да" checked> Да<br>
		<input type="radio" name="unesp" value="нет"> Нет<br>
		</fieldset>
		<p><input class="submit" type="submit" name="submit" value="Отправить"></p>
    </form>
{% endblock %}