{% extends 'base.html' %}
{% block title %} Исследование процентного соотношения романских и германских языков, изучаемых в школе как иностранных {% endblock %}
{% block content %}
	<table>
        <tr>
            <td>Средний возраст </td>
            <td>{{ avg_age }}</td>
        </tr>
    </table>
	<di id = "chart1"></di>
	<!-- plotly CDN -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script>
		var graph1 = {{ graph_city | safe }};
		Plotly.plot("chart1", graph1, {})
	</script>
	<di id = "chart2"></di>
	<!-- plotly CDN -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script>
		var graph2 = {{ graph_q | safe }};
		Plotly.plot("chart2", graph2, {})
	</script>
{% endblock %}